@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
 
/* Resete CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-color: #282a36;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 7px;
   /* position: fixed;
    border-bottom: 0.4px solid #fff2e7;
    width: 100%; */

}

.cabecalho-img {
    width: 6%;
}

.cabecalho-menu {
    display: flex;
    gap: 32px; /*tamanho do espaço do menu*/
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #fff2ef;
    font-weight: 400; /* quanto maior mais pesada, mais negrito */
    font-size: 18px;
}

.conteudo {
    border-top: 0.4px solid #fff2e7;
    margin-bottom: 48px;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 48px;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    
}

.conteudo-principal-escrito-titulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 200;
    font-size: 32px;
    color: #fff2ef;
    margin-bottom: -30px;
}

.conteudo-principal-escrito-titulo-grande {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 64px;
    color: #fff2ef;
}


.conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #ecd6c4;
    margin-top: -10px;
    margin-bottom: 20px;
}

.conteudo-principal-escrito-botao {
    background-color: #ecd6c4;
    width: 200px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #2f2325;
}

.conteudo-principal-escrito-botao:hover {
    background-color: rgba(236, 214, 196, 0.53);
}

.conteudo-principal-img { 
    height: 400px;
}
.img-fantasma {
    display: none;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid #fff2e7;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #fff2ef;

}

.conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ecd6c4;
}

.rodape {
    padding: 16px;
    border-top: 0.4px solid #fff2e7;
}

.rodape-img {
    height: 40px;
    display: block; /* coloca em block e utilizar todo o espaço do elemento*/
    margin: 0 auto;
}


header {
    padding: 7px;
}
.logo {
    width: 70px; 
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Sarala', sans-serif;
    color: #fff2ef;
    font-weight: 400; /* quanto maior mais pesada, mais negrito */
    font-size: 18px;
    height: 8vh; /* se adapta a janela toda */
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}
.mobile-menu {
    display: none;
    cursor: pointer;

}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background-color: #fff2e7;
    margin: 8px;
    transition: 0.3s;
}

body::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #282a36;        /* cor da area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #703f78;    /* cor barra */
    border-radius: 20px;       /* roundness of the scroll thumb */
    
  }



@media (max-width: 999px) {

    body {
        overflow-x: hidden; /* se algo tranborda nao fica aparente na pagina*/
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 100vw;
        background: #282a36;
        height: 45vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-top: 8px;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin: 0;
        opacity: 0;
        
    }
    
    .mobile-menu {
        display: block;
    }

    .nav-list.active {
        transform: translateX(0);
    }

    @keyframes navLinkFade {
        from {
          opacity: 0;
          transform: translateX(50px);
        }
        to {
          opacity: 1;
          transform: translateX(0);
        }
      }
      
      .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
      }
      
      .mobile-menu.active .line2 {
        opacity: 0;
      }
      
      .mobile-menu.active .line3 {
        transform: rotate(45deg) translate(-5px, -7px);
      }


      /* ALINHAMENTO DEMAIS ITENS */

      .conteudo-principal-escrito {
        width: 100%;
        align-items: center;
      }

      .conteudo-principal-img {
        display: none;
      }
    .img-fantasma {
        display: flex;
        height: 350px;
        margin: 0 auto;
        margin-top: 50px;
    }

      .conteudo-secundario {
          width: 100%;
          align-items: center;
          padding: 20px;
      }

}